html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  background: #000;
}

button {
  cursor: pointer;
}

#root {
  display: contents;
}

.mb {
  margin-bottom: 1.5em;
}

.product {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65em;
  height: 35em;
  background: #fff;
  padding: 1.5em;
  border-radius: 5px;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: #212121;
    transition: 0.3s linear;
    object-fit: contain;
    border-radius: 5px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 1.5em;
    background-color: #fff;

    &__columns_box {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 1em;
    }
  }

  &__title {
    margin: 0 0 0.25em 0;
    padding: 0;
    font-size: 3.2em;
    color: #444;
    font-weight: 700;
  }

  &__description {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.25em;
  }

  &__rating {
    display: block;

    &__label {
      font-size: 1.4em;
      font-weight: 500;
    }

    &__result {
      &--success {
        font-size: 1.4em;
        font-weight: 600;
        margin-left: 0.2em;
        color: #997500;
      }

      &--danger {
        font-size: 1.4em;
        font-weight: 600;
        margin-left: 0.2em;
        color: #332700;
      }
    }
  }

  &__button {
    &--primary {
      margin: 1em;
      padding: 1em;
      background-color: #a05000;
      color: #fff;
      font-size: 1.2em;
      font-weight: 700;
      border-radius: 5px;
    }

    &--secondary {
      margin: 1em;
      padding: 1em;
      background-color: #000;
      color: #fff;
      font-size: 1.2em;
      font-weight: 700;
      border-radius: 5px;
    }
  }
}

.product__available_in_stock,
.product__price {
  display: block;

  &__price {
    font-size: 2.5em;
    font-weight: 600;
    color: #a05000;
  }

  &__label {
    font-size: 1.7em;
    font-weight: 600;
  }

  &__status {
    &--success {
      font-size: 2.5em;
      font-weight: 600;
      color: #007000;
    }

    &--danger {
      font-size: 2.5em;
      font-weight: 600;
      color: #c50000;
    }
  }
}

@media (max-width: 870px) {
  .product {
    height: 100%;

    &__image {
      width: 100%;
    }

    &__details {
      width: 100%;
      padding-left: 0;
    }

    &__title {
      margin-top: 0.5em;
      font-size: 2.2em;
    }
  }

  .product__price {
    &__price {
      font-size: 2em;
    }

    &__label {
      font-size: 1.5em;
    }
  }

  .product__available_in_stock {
    &__label {
      font-size: 1.5em;
    }

    &__status--success {
      font-size: 2em;
    }

    &__status--danger {
      font-size: 2em;
    }
  }
}
