html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  background: #000;
}

button {
  cursor: pointer;
}

.mb {
  margin-bottom: 1.5em;
}

.product {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65em;
  height: 35em;
  background: #fff;
  padding: 1.5em;
  border-radius: 5px;
}

.product__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background: #212121;
  transition: 0.3s linear;
  object-fit: contain;
  border-radius: 5px;
}

.product__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 1.5em;
  background-color: #fff;
}

.product__title {
  margin: 0 0 0.25em 0;
  padding: 0;
  font-size: 3.2em;
  color: #444;
  font-weight: 700;
}

.product__details__columns_box {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
}

.product__price {
  display: block;
}

.product__price__price {
  font-size: 2.5em;
  font-weight: 600;
  color: #a05000;
}

.product__price__label {
  font-size: 1.7em;
  font-weight: 600;
}

.product__available_in_stock {
  display: block;
}

.product__available_in_stock__label {
  font-size: 1.7em;
  font-weight: 600;
}

.product__available_in_stock__status--success {
  font-size: 2.5em;
  font-weight: 600;
  color: #007000;
}

.product__available_in_stock__status--danger {
  font-size: 2.5em;
  font-weight: 600;
  color: #c50000;
}

.product__description {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.25em;
}

.product__rating {
  display: block;
}

.product__rating__label {
  font-size: 1.4em;
  font-weight: 500;
}

.product__rating__result--success {
  font-size: 1.4em;
  font-weight: 600;
  margin-left: 0.2em;
  color: #997500;
}

.product__rating__result--danger {
  font-size: 1.4em;
  font-weight: 600;
  margin-left: 0.2em;
  color: #332700;
}

.product__button--primary {
  margin: 1em;
  padding: 1em;
  background-color: #a05000;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 5px;
}

.product__button--secondary {
  margin: 1em;
  padding: 1em;
  background-color: #000;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 5px;
}

@media (max-width: 870px) {
  .product {
    height: 100%;
  }

  .product__image {
    width: 100%;
  }

  .product__details {
    width: 100%;
    padding-left: 0;
  }

  .product__title {
    margin-top: 0.5em;
    font-size: 2.2em;
  }

  .product__price__price {
    font-size: 2em;
  }

  .product__price__label {
    font-size: 1.5em;
  }

  .product__available_in_stock__label {
    font-size: 1.5em;
  }

  .product__available_in_stock__status--success {
    font-size: 2em;
  }

  .product__available_in_stock__status--danger {
    font-size: 2em;
  }
}
